<!DOCTYPE html>
<html lang="es">
<%- include('header') %>
<%- include('navbar') %>

<body>

  <main class="main-panel container-fluid d-flex flex-column">
    <%- include('accesibilidad') %>
    <%- include('tabla-reservas') %>

  <%- include('footer') %>
</body>

</html>